.player1{
    display: inline-block;
}
.player2{
    display: inline-block;
}
.container{
    width: 70%;
    margin: auto;
    text-align: center;
}
footer{
    text-align: center;
    margin-top: 50px;
}
.image{
    margin: 20px;
    
}
h1{
    font-size: 7rem;
    font-family: 'Cedarville Cursive', cursive;
    color: whitesmoke;
    margin-bottom: 20px;
}

body{
    background-color:#886F88;
}
.playername{
    font-size: 3rem;
    font-family: 'Handlee', cursive;
    color: white;
}